<div #container class="note-card-container">
    <div class="note-card-content">
        <h1 class="note-card-title">Lorem ipsum</h1>

        <div class="note-card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem officia iusto beatae! Aut non voluptates tempora esse nam minus, maxime repellat iure adipisci quos! Maxime accusantium sed vel est. Rerum!</p>
            <div class="fade-out-truncation"></div>
        </div>
    </div>

    <div class="x-button">

    </div>
</div>